body {
    overflow: hidden;
}

.pet {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.block {
    width: 400px;
}

.botao {
    padding: 6px 50px;
    background: #777;
    color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.botao:hover {
    background: #222;

}

.botao:active {
    background: #777;
}

.barra {
    width: 100px;
    background: #99cc00;
    margin: 5px 10px;
    border-radius: 4px;
    padding: 3px 3px;
}

.lado {
    position: absolute;
    top: 0;
    left: 0;
}

#ButtBlock {
    padding: 15px 0px;
}

#imageBlock {
    padding: 0px 0px;
    position: relative;
    left: 200px;
    top: 100px;
}

#mensagem {
    color: red;
}

#barraTreino {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 500px;
    height: 10px;
    background-color: blue;
}

#medidor {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 10px;
    height: 15px;
    background-color: green;
}

.brincarContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.botaoDeTesoura {
    position: absolute;
    left: 35%;
    bottom: 50%;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #aaa;
    background-size: contain;
    background-repeat: no-repeat;
}

.botaoDePapel {
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #aaa;
    background-size: contain;
    background-repeat: no-repeat;
}

.botaoDePedra {
    position: absolute;
    left: 65%;
    bottom: 50%;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    background-color: #aaa;
    background-size: contain;
    background-repeat: no-repeat;
}
